#projects{
    background: url(images/project-bg.png) no-repeat center;
    background-size: cover;
}

.projects-heading{
    color: #913313;
    text-align: center;
    padding-top: 7%;
    font-size: 28px;
}

.project-parts img{
    width: 43%;
    padding: 5%;
    border-radius: 20%;
}
.project-parts{
    display: flex;
    justify-content: space-evenly;
}
.project-group{
    display: flex;
    flex-direction: column ;
}
.project-individual{
    padding: 5%;
    margin: 3% 0;
    text-align: center;
    border: 2px solid #913313;
}
.project-individual i{
    padding: 2%;
    border-radius: 50%;
}
.project-individual i:hover{
    box-shadow: 0 2px 4px 0 turquoise;
}
