#education{
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/bgsection2.png);
    z-index: -3;
}

.heading{
    color: #fff;
    text-align: center;
    padding-top: 40px;
    font-size: 28px;
}

.education-block{
    padding:  2%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    opacity: 1;
}

.card img{
    border-radius: 50%;
}

.card {
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 4%;
    transition: 0.3s;
    background: transparent;
    align-content: center;
}

.card img:hover {
    box-shadow: 0 12px 20px 0 rgb(143, 143, 143);
    transition: 0.7s ease-out;
}
  
.container {
    margin: 2%;
    padding: 2px 16px;
    color: #fff;
    font-size: 200%;
}