.ultimate-bg{
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../Images/bgsection2.png) fixed;
    z-index: -3;
    text-align: center;
}

.heading{
    color: #fff;
    padding-top: 40px;
    font-size: 48px;
}

.education-block{
    padding:  2%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    opacity: 1;
}

.card{
    display: flex;
    justify-content: space-around;
    color: rgb(222, 233, 66);
    align-items: center;
    border: 3px solid rgb(28, 105, 105);
    padding: 4%;
    margin: 2%;
    background: linear-gradient(rgba(175, 181, 206, 0.7), rgba(4, 8, 27, 0.767));
}
.card img{
    width: 200px;
    padding: 2%;
}
.ed-text p{
    font-size: 20px;
    font-weight: 550;
    padding-bottom: 11px;
}
.card i{
    color: coral;
}

@media screen and (max-width:500px) {
    .card{
        flex-direction: column;
        width: 90%;
        margin: 3%;
    }
    #education h1{
        font-size: 45px;
    }
}