*{
    margin: 0;
    padding: 0;
}
.test{
    position: fixed;
    background: rgba(86, 184, 124, 0.657);
    height: 5%;
}
#header{
    background: url(../Images/bg.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    position: sticky;
}

nav{
    display: flex;
    align-items: center;
    padding: 1% 1%;
    justify-content: space-evenly;
}
.nav-items:hover{
    color: #fff;
}
nav img{
    display: inline-block;
    width: 25%;
}

nav ul li{
    display: inline-block;
    position: relative;
    padding: 8px 30px;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration: none;
    font-size: 19px;
    font-weight: 800;
    color: rgb(192, 248, 250);
}
nav .fa{
    display: none;
    padding: 2%;
}
.intro{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: white;
}

.intro h1{
    font-size: 50px;
    margin: 0 0 50px;
    color: #fff;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.intro-button{
    display: inline-block;
    text-decoration: none;
    padding: 12px 13px;
    margin: 0.7%;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
}

.intro-button:hover{
    border: 1px solid tomato;
    background: tomato;
    transition: 0.5s ease-in;
}
.no-scroll{
    overflow: hidden;
}
@media screen and (max-width: 500px){
    html, body {
        overflow-x: hidden;
    }
    .nav-links ul li{
        display: block;
    }
    nav{
        justify-content: space-between;
    }
    nav img{
        width: 50%;
        height: 80px;
    }
    .nav-links{
        position: absolute;
        height: 100vh;
        width: 200px;
        background: rgba(130, 192, 50, 0.801);
        top: 0;
        right: -200px;
        text-align: left;
        transition: 1s;
        z-index: 99;
    }
    nav .fa{
        display:inline-block;
        font-size: 20px;
        color: white;
        cursor: pointer;
        margin: 20px;
    }
    .nav-links ul{
        padding: 20px;
    }
}