#projects{
    background: linear-gradient(rgba(223, 215, 142, 0.7), rgba(4,9,30,0.7)), url(../Images/project-bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
}

.projects-heading{
    color: #913313;
    
    padding-top: 7%;
    font-size: 48px;
}

.project-parts img{
    width: 35%;
    padding: 5%;
    border-radius: 20%;
}
.project-parts{
    display: flex;
    justify-content: space-evenly;
}
.project-group{
    display: flex;
    flex-direction: column ;
}
.project-individual{
    padding: 5%;
    margin: 5%;
    margin-right: 10%;
    border: 2px solid #913313;
    border-radius: 15%;
    font-weight: 600;
    color: #31085d;
    box-shadow: 0 8px 8px 0 #913313;
    background: linear-gradient(rgba(223, 215, 142, 0.7), rgba(4, 9, 30, 0.548));
}
.project-individual i{
    padding: 2%;
    border-radius: 50%;
}
.project-individual i:hover{
    box-shadow: 0 2px 3px 0 turquoise;
}

@media screen and (max-width: 500px){
    .project-parts{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .project-parts img{
        width: 65%;
    }
    .projects-heading h1{
        font-size: 35px;
    }
}