#skills{
    background: url(../Images/skills.png);
    text-align: center;
}

.skill{
    padding: 40px;
    font-size: 48px;
    color: rgba(255, 255, 0, 0.774);
}
.skill-set{
    text-align: left;
    margin: 2% 4%;
    color: violet;
    font-size: 25px;
}
.skill-set-container{
    padding-bottom: 40px;
}
.progress {
    margin:20px auto;
    padding:0;
    width:90%;
    height:30px;
    overflow:hidden;
    background:rgba(7, 7, 7, 0.493);
    border-radius:6px;
  }
  
  .bar {
    float:left;
    min-width:1%;
    height:100%;
    background:gray;
  }
  
  @media screen and (max-width: 500px) {
      #skills h3{
          font-size: 20px;
      }
      #skills h1{
          font-size: 45px;
      }
  }